<% unless signed_in? || request.env['PATH_INFO'] == "/sessions" %>
	<div class="signin_form">
		<%= form_for(:session, :url => sessions_path) do |f| %>
			<div class="column">
				<%= f.label :username_or_email %>
				<%= f.text_field :username_or_email %>
			</div>
			<div class="column">
				<%= f.label :password %>
				<%= f.password_field :password %>
			</div>
			<%= f.submit "Sign In", :class => "standard_button"%>
		<% end %>
	</div>	
<% end %>