<h1>Edit</h1>
<%= form_for (@user) do |f| %>
<%= render 'shared/messages' %>

	<%= f.text_field :username %>
	<%= f.label :username %>
	
	<%= f.text_field :email %>
	<%= f.label :email %>

	<%= f.password_field :password %>
	<%= f.label :password %>
	
	<%= f.password_field :password_confirmation %>
	<%= f.label :Confirm_Password %>
	
	<%= f.submit "Update", :class => "standard_button" %>
	
	
<% end %>