<div class="thinner" id="map"></div>
<% content_for :map_javascript do %>
	<%= javascript_include_tag 'maps/show_note.js' %>
<% end %>

<%= render @notes %>
<div class="info_form thin">
	<h1>Edit Account</h1>
	<%= form_for (@user) do |f| %>
	<%= render 'shared/messages' %>
		
		<%= f.label :username %>
		<%= f.text_field :username %>
		<%= f.label :email %>
		<%= f.text_field :email %>
		<%= f.label :password %>
		<%= f.password_field :password %>
		<%= f.label :Confirm_Password %>
		<%= f.password_field :password_confirmation %>

		<%= f.submit "Update", :class => "standard_button" %>


	<% end %>
</div>