<header>
	<div class="title"><h1><%=link_to"GeoNotes", root_path%></h1></div>
	<%= render 'sessions/signin_form'%>
	<% if signed_in? %>	
		<nav>
			<ul>
					<li>
						<%= link_to "Home", root_path%>
					</li>
					<li>
						路 <%= link_to "Community", users_path %>
					</li>
			
					<li>
						路 <%= link_to "New Note", new_note_path %>
					</li>
					<li>
						路 <%= link_to "Tags", tags_path %>
					</li>
					<li>
						路 <%= link_to "Sign Out", '/signout' %>
					</li>
			</ul>
		</nav>			
	<% end %>
	
</header>