<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render 'layouts/assets' %>
  <%= include_gon %>

  <%= csrf_meta_tag %>
</head>
<body>
	<%= render 'layouts/header' %>
	
	<section>
		<%= yield %>
	</section>
	<%= render 'layouts/footer'%>
</body>

</html>
