<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render 'layouts/assets' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<%= render 'layouts/header' %>
	
	<section>
		<%= yield %>
	</section>

</body>
</html>
